.container{
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    margin-right: 30px;
  }
  .section{
    background-color: #b84aca;
  }
  .register{
    color: white;
    border: 1px solid black;
  }
input:focus {
  /* filter: blur(5px); Adjust the blur radius as needed */
  border: 2px solid transparent; /* Make the border transparent */
  outline: none; /* This removes the default focus outline (optional) */
  box-shadow: 0 0 10px 5px #b84aca; /* Apply a blurred shadow */

}
