


  .Maincontainer{
    background-color: #B84ACA33; 
    color: white;
    padding: 30px;
    min-width: 300px;
    max-width: 300px;
    margin-inline:auto ;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgb(176, 29, 171);
    border-radius: 10px;
  }
form{
  padding: 20px;
    display: flex;
    flex-direction: column;
    
}
form p{
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
form input{
  margin: 0;
  padding:0 ;
  border: 0;
  margin-bottom: 20px;

}
.section{
  height: auto;
}
form [type='text'] , form [type='password']{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  background: #FFFFFF4D;

}
form [type='submit']{
  padding: 5px;
  margin-bottom: 20px;
  background: linear-gradient(95.61deg, #2954A3 -8.54%, #B84ACA 77.53%);

}
.s1{
  text-align: center;
  margin-bottom: 30px;
}
input:focus {
  border: 2px solid transparent;
  outline: none; 
  box-shadow: 0 0 10px 5px #b84aca;
}
.register{
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  transition: all .5s ;
}
.register:hover{
  color:#b84aca; 
}