
body{
    padding: 0;
    padding-top: 50px;
    margin: 0;
    background-color: black;
    color: white;
}
a{
    all: unset;
}
.Maincontainer{
    width: 80% !important;
    margin: auto;
}
.currentPage{
    color: #B84ACA;
    border-bottom: 1px solid #B84ACA ;
    font-weight: bolder;
    font-size: 15px;
}
html{
    scroll-behavior: smooth;
}
p , h4 , h1 {
    padding: 0;
    margin: 0;
}
.left_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: -100px;
    width: 5%;
    min-width: 45px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    padding-top:12px ;
    padding-bottom:14px ;

}
.left_bar a div{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.left_bar a div:hover{
    background-color: #B84ACA;
    cursor: pointer;
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    border-width:0.1px;
}
.container{
    display:flex;
    justify-content: space-around;
    margin-top: 15px;
    align-items: center;
}
header p , header h4{
    color: white;
    padding-bottom: 5px;
    cursor: pointer;
}
header p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    transition:0.5s;
}
header p:hover{
    color: #B84ACA;
    border-bottom: 1px solid #B84ACA ;
    font-weight: bolder;
    font-size: 15px;
}

header p:active{
    opacity:0.5;

}

.img1{
    width:150px;
    right: 0px;
    top: 100px;
    z-index: -1;
    position:absolute;

}

.circle {
    position: absolute;
    width: 350px;
    height: 350px;
    transform: translateX(-50%);
    border-radius: 100%; /* Makes the element a circle */
    background-color: #B84ACA;
    filter: blur(100px);
    z-index: -2;
    opacity: 0;
    color: rgb(0, 100%, 50%);

    background-size: 50% 200%; /* Adjust this value to control the cut angle */
    transition:all .5s linear;
}


.circle1{
    top: 10vh;
    right: -150px;
}
.circle2{
    top: 20vh;
    left: -100px;
}
.circle3{
    top: 170vh;
    left: 100px;
}
.section{
    height: calc(100vh - 70px);
}
.section1{
    color: white;
    padding-left: 16%;
}

.sec1C{
    width: 80%;
}

.name{
    opacity: 0;
    font-size: 58px;
    padding-top: 10vh;
    padding-bottom: 13vh;
}
.job{
    font-size: 40px;
    color: #c461d3;
    padding-bottom: 2vw;

}
.interest{
    font-size: 30px;
    padding-bottom: 10vw;

}

.buttons_div button{
    margin-right: 10px;
    padding: 10px 20px ;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.buttons_div button:first-child{
    background-color: #db74eb;

}
.buttons_div button:last-child{
    background-color: #bc48ce;

}

.sectionSep{
    filter: blur(4px);
    width: 80%;
    margin: auto;
}
#light {
    position: fixed;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    transform-origin: 50% 50%;
    box-shadow: 0 0 10px 5px #db74eb;
    transition: transform 0.1s ease-out;
    transform: scale(1) translate(-50%, -50%);
    filter: blur(10px);
    background-size: 50% 200%; /* Adjust this value to control the cut angle */

}


/* change the header  */
@media screen and (max-width : 747px) {
    header {
        display: none;
        visibility: hidden;
      }

}

@media screen and (max-width: 832px) {
    /* CSS rules for screens with a maximum width of 768px */

    body {
        overflow-x: hidden;
      }
    .section1{
        width: 100%;
        padding-left:0;
    }
    .sec1C{
        padding: 0;
        width: 80%;
        padding:0;
        margin-left: 20px;

    }
    .section{
        width: 100%;
 
    }

    .circle1{
        top: 450px;
        right: 1px;
        width: 40px;

    }
    .circle2{
        top: 0px;
        left: -100px;
    }
    .img1{
        top: 10px;
        right: 1px;
        width: 100px;
        overflow: hidden;
    }
    .name{
        padding-top: 20vh;

        font-size: 30px;
    }
    .job{
        font-size: 25px;
        padding-top: 10vh;

    }
    .interest{
        font-size: 20px;
        padding-top: 6vh;

    }
    .buttons_div button{
        padding: 10px 7px;
        font-size: 14px;
    }
  }