.porjects {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 58px;
  text-align: center;
  color: #b84aca;
  opacity: 0;
}

.slider-container {
  
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;

}

.slide-wrapper {
  width: 100%; 

  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 70vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide img {
  border-radius: 10px !important;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.rel {
  position: relative;
  opacity: 0;
}

.projectTitlename {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #b84aca;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration:none;
  color: white; 
  transition: all 0.5s;
}
.navigation-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3vw;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #b84aca;
  background-color: rgba(0, 0, 0, 0.341);
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  z-index: 1;
  color: white; /* Added to ensure button text is visible on the background */
}
.navigation-btn :hover{
  background-color: #000;
}
.prev-btn {
  left: -1000px ;
}

.next-btn {
  right:  -1000px ;
}

@media screen and (max-width: 832px) {
  .navigation-btn {
    width: 10vw;
    height: 10vw;
  }

  .slide img {
    border-radius: 10px !important;
    width: 100%;
    height: 300px;
    object-fit: fill;
  }
}

@media screen and (max-width:522px) {
  .slide img {
    border-radius: 10px !important;
    width: 100%;
    height: 300px;
    object-fit: fill;
  }
}
.mycontainer div{
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 30px;
  color: #000;
  cursor: pointer;
  
  transition:all 0.5s  ;
}
.mycontainer div:hover{
  color: #B84ACA;
}
.mycontainer div:active{
  opacity: 0.6;
}
.mycontainer{
  opacity: 0;
  background-color: #bc48cecf;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30vw;    
  padding: 40px;
  font-size: large;
  font-weight: bolder;
}
.projectTitlename:hover{opacity: 0.6;}